= render "page_banner"
= render "breadcrumbs"
.row.bcg_color
	.medium-12.columns
      .row.padding
        .medium-8.columns.main_info
          = html_block_with_fallback("intro", true)
            p.font24.section_header орієнтовна вартість послуг з незалежної оцінки
            p.font14.navy Отримання офіційного юридичного документа, яким є звіт про оцінку - основна причина звернення до Нас.
            p.font14.navy Ми розуміємо унікальність кожного об'єкта оцінки, а також індивідуальність завдань клієнтів, і тому пропонуємо гнучкий підхід в оплаті наших послуг. Наша робота виконується швидко і коштує Вам дешевше. Ми економимо Ваші гроші і час зарахунок високого рівня кваліфікації фахівців.
            p.font14.navyля виконання повного звіту про оцінку КТЗ, що включає всі етапи оцінки (наприклад для об'єктів нерухомості це: огляд, фотографування, аналіз ринкової ситуації, розгляд можливості застосування 3-х підходів до оцінки, розрахунок вартості, складання звіту про оцінку).
            p.font14.navy Ми можемо піти назустріч Замовникові і понизити вартість послуги з оцінки в певних обставинах. Терміни роботи безпосередньо залежать від складності об'єкту, комплекту документів і інформації, що є на ринку і у Замовника. Чим більше інформації вже підготовлено, тим менше часу Оцінювач витрачає на пошук і аналіз.
        - if @application_forms.try(:any?)
          .medium-4.columns
            .field
              p.font21.padding замовлення на оцінку нерухомого майна

              ul.no-bullet.padding
                - @application_forms.each do |af|
                  - if af.file.exists?
                    li
                      a href=af.file.url
                        .application-icon
                          = embedded_svg_from_assets("filetypes/#{af.file_icon_name}")
                        | Анкета-замовлення на оцінку для фізичної особи
                      br
                      span> 64kB

      = html_block_with_fallback("table", true)
        .row
          .medium-12.columns.underlined
            .header_right тарифи на послуги з оцінки майна
        .row.padding
          .medium-12.columns
            .table
              table
                tr
                  td.first
                    span> об'єкт оцінки
                  td.second
                    span> вартість,
                    br
                    | грн. без ПДВ
                  td.third
                    span> термін виконання,
                    br
                    | робочих днів
                tr
                  td.category colspan="3"
                    | Об'єкти нерухомого майна, земельні ділянки
                tr
                  td Квартири
                  td
                    span> від
                    | 500
                  td
                    span> до
                    | 2
                tr
                  td
                    | Житлові будинки, котеджі, дачі
                    ul.dashed
                      li площею до 250кв.м
                      li площею від 250кв.м
                  td
                    span> від
                    | 500
                    br
                    span> від
                    | 500
                  td
                    | 2-3
                    br
                    | 2-3
                tr
                  td Земельні ділянки, що належать фізичним особам
                  td
                    span> від
                    | 400
                  td
                    span> до
                    | 2
                tr
                  td Земельні ділянки, що належать юридичним особам
                  td
                    span> від
                    | 500
                  td 2-3
                tr
                  td Об'єкти нежитлового фонду
                  td
                    span> від
                    | 1000
                  td 3
                tr
                  td Об'єкти незавершені будівництвом
                  td
                    span> від
                    | 1500
                  td
                    span> до
                    | 2
                tr
                  td.category colspan="3"
                    | Машини і обладнання (за одиницю)
                tr
                  td Обладнання, устаткування, авто техніка (індивідуальна оцінка)
                  td
                    span> від
                    | 400
                  td 2-5
                tr
                  td Обладнання, устаткування, авто техніка (масова оцінка)
                  td
                    | 100-200
                    span> за одиницю
                  td 2-5
                tr
                  td Технологічні лінії, інше складне та багатокомплексне обладнання
                  td
                    span> від
                    | 1500
                  td 5-7
                tr
                  td.category colspan="3"
                    | Транспортні засоби (за одиницю)
                tr
                  td Легкові автомобілі
                  td
                    span> від
                    | 400
                  td 2
                tr
                  td Вантажні автомобілі
                  td
                    span> від
                    | 400
                  td 2
                tr
                  td Спецавтотранспорт
                  td
                    span> від
                    | 600
                  td 3
                tr
                  td Літальні апарати та судноплавні засоби
                  td
                    span> від
                    | 5000
                  td 7
                tr
                  td Товари в обороті та товари на складі
                  td
                    span> від
                    | 1000
                    span> за звіт
                  td За домовленістю
                tr
                  td Малий та середній бізнес (мінізаводи, цехи, ресторани, бари, корпуси пансіонатів, міні готелі, АЗС та АЗК)
                  td
                    span> від
                    | 3000
                  td
                    span> від
                    | 5
                tr
                  td Цілісні майнові комплекси
                  td
                    span> від
                    | 6000
                  td
                    | за домовленістю
                tr
                  td Цінні папери, деривативи
                  td
                    | 5000
                  td
                    | за домовленістю
                tr
                  td Майнові права, права вимоги
                  td
                    | 3500
                  td
                    | за домовленістю
                tr
                  td Об'єкти інтелектуальної власності
                  td
                    | 3000
                  td
                    | за домовленістю
      .row.padding
        .medium-9.columns.end
          = html_block_with_fallback("second_text", true)
            p.font14.light_italic.grey У вартість робіт включені виїзд оцінювача, огляд об'єкта оцінки, фотографування.
            p.font14.light_italic.grey Остаточний розрахунок вартості послуг проводиться після ознайомлення оцінювача з об'єктом оцінки, наявною документацією, матою та призначенням майбутньої оцінки.
            p.font14.light_italic.grey При проведенні оцінки не типових (ексклюзивних/дизайнерських) об'єктів вартість збільшується вдвічі.
            p.font14.light_italic.grey При проведенні оцінки в скорочені терміни, в т.ч. у вихідні дні і святкові дні, подорожчання вартості робіт становить від 15-100%
            p.font14.light_italic.grey При проведенні оцінки більше 10 найменувань - знижка від 5%
            p.font14.light_italic.grey Консультація по об'єктах, оцінка яких провиться або проводилась раніше, безкоштовне
            p.font14.light_italic.grey Вказані тарифи є орієнтованими для розрахунку вартості послуг з оцінки майна. Вартість робіт може змінюватись в залежності від специфіки об'єкту і термінів виконання. Дані тарифи пропонуються в якості базових для майбутньої співпраці.


