h1
	text-transform: uppercase
	color: white
	font-size: 3em
h2
	text-transform: uppercase
h3
	text-transform: uppercase
	font-size: 1.8125em
h4
	text-transform: uppercase
	font-size: 1.5em
h5
	text-transform: uppercase
	font-size: 1.3125em
.section_header
	color: $navy
	line-height: 1.1
	padding: 30px 0 20px 0
.header_right
	float: right
	margin-top: 35px
	color: $grey
	padding-right: 10px
	@media only screen and (max-width: 40.0625em)
		margin-top: 10px
.underlined
	border-bottom: 1px solid $light_grey
	height: 70px
.dashed
	list-style-type: none
	li
		text-indent: -15px
		&:before
			content: "\2014"
			text-indent: -10px
.padding
	padding: 10px
.padding_side
	padding: 0 10px
.padding_top
	padding-top: 20px
.main_info
	p
		font-size: 0.875em
		color: $navy
	.bigger
		font-size: 1em
	.grey
		color: $grey
.field
	background-color: $light_grey
	border-bottom: 3px solid $medium_grey
	margin-top: 30px
	.field_header
		color: $navy
		background-color: $medium_grey
	.bigger
		font-size: 1em
		color: $blue