@import 'variables'
@import 'general'
@import 'foundation/_functions.scss'
@import 'foundation/_settings.scss'
@import 'foundation.scss'
@import 'about_us'
@import 'services'
@import 'service_list'
@import 'prices'
@import 'publications1'
@import 'publications2'
@import 'publications3'
@import 'contacts'
body
	background-image: image-url("stripe.png")
	margin: 0 auto
	font-family: 'Fira Sans', sans-serif
	font-size: 1em
.big-wrapper
	background-color: $light_grey
	margin: 20px
	@media only screen and (max-width: 640px)
		margin: 10px
.menu_wrapper
	max-height: 0
.header
	height: 110px
	background-color: white
	width: 100%
	position: relative
	z-index: 17
	.logo
		float: left
		width: 140px
		height: 80px
		padding: 15px
	.icons
		float: right
		position: relative
		top: 40px
		overflow: visible
		li
			position: relative
			img
				max-width: 30px
				max-height: 30px
				width: auto
				height: auto
		.popup-1, .popup-2, .popup-3
			background-color: #497488
			opacity: 0
			display: none
			position: absolute
			right: -12px
			height: 70px
			top: 50px
			width: 200px
			&:before
				content: ""
				position: absolute
				display: block
				width: 15px
				height: 15px
				top: -5px
				right: 20px
				background-color: #497488
				transform: rotateZ(45deg)
			.font14
				color: white
				padding: 15px
		.popup-3
			height: 260px
			width: 430px
			top: 0
			transform: translateY(50px)
			@media (max-width: 640px)
				height: 380px
				width: 330px
			.font16
				color: white
				line-height: 50px
				padding-left: 20px
				margin: 0
			.inner-form
				background-color: white
				display: block
				height: 200px
				width: 99%
				margin: 0 auto
				@media (max-width: 640px)
					height: 320px
				.mail-us
					text-transform: uppercase
					color: $navy
					text-align: center
					margin: 0
				form
					padding: 0
					input
						margin: 0 0 5px !important
					textarea
						height: 80px
						margin: 0
					button
						height: 36px
						width: 100%
						margin: 5px auto
						padding: 0 !important
					.error
						&.required
							display: none
		.visible-popup
			&.popup-1, &.popup-2, &.popup-3
				opacity: 1
				z-index: 16
				display: block
#mobile-hamburger
	display: inline-block
	width: 40px
	height: 40px
	background-color: white
	position: relative
	top: 2px
	@media only screen and (min-width: 40.0625em)
		display: none
	.hamburger
		+burger(30px, 4px, 7px, $navy, 2px)
	&:hover
		.hamburger
			&, &::before, &::after
				background-color: $red_violet
	&.opened
		.hamburger
			+burger-to-cross
			&::before, &::after
				background-color: $navy
		&:hover
			.hamburger
				&::before, &::after
					background-color: $navy
.banner
	height: 500px
	border-top: 1px solid $navy
	border-bottom: 1px solid $navy
	position: relative
	z-index: 15
	.bx-wrapper
		margin: 0 auto
		padding: 2px 0
		height: 100%
		position: relative
		right: -5px
		.bx-viewport
			border: none
			height: 100%		
			.bxslider
				margin: 0
				height: inherit
				li 
					height: 100%
					.bg-image
						background-position: center
						background-size: cover
						height: inherit
						position: absolute
						width: 100%
						img
							width: 100%
							max-height: 500px
	.bx-controls
		position: absolute
		bottom: 90px
		right: 30%
		width: 100px
		.bx-pager-item
			.bx-pager-link
				border-radius: 0
				background-color: $main
				&:active
					background-color: black
	.inner
		position: relative
		top: 30%
		left: 10%
		display: inline-block
		.inner_container
			position: relative
			.brackets
				font-size: 72px
				color: $main
				position: absolute
				top: -73px
				a
					color: rgba(42,93,110, 0.6)
					transition: .15s
					&:hover
						color: rgba(56,177,208, 0.5)
			.inner_text
				padding: 15px
				width: 380px
				height: 210px
				color: white
				background: rgba(42,93,110, 0.6)
				.inner-header
					font-size: 3em
					line-height: 0.9em
					font-weight: 500
					text-transform: uppercase
					a 
						color: white
				.inner-p
					font-size: 1em
					font-weight: 400
					line-height: 1.3em
					padding: 5px 0
					font-weight: 300
.hide-menu
	&.index_menu
		max-height: none
	&.menu_wrapper
		max-height: none
.top-bar
	&.expanded
		max-height: none !important
.index_menu
	position: relative
	top: 450px
	max-height: 0
	z-index: 16
	@media (max-width: 640px)
		top: 0
	.menu_container
		position: relative
		top: 0
		width: 100%
.menu_wrapper
	max-height: 0
.menu
	position: relative
	z-index: 10
	.top-bar
		//min-height: 70px
		@media only screen and (max-width: 40.0625em)
			max-height: 0
		.title-area
			@media only screen and (max-width: 40.0625em)
				height: 0
		.top-bar-section
			ul
				li
					@media only screen and (min-width: 40.0625em)
						width: 20%
					a
						font-size: 1.125em
						text-transform: uppercase
						text-align: center
						width: 100%
						background: linear-gradient(#3C7589, #123B41)
						@media only screen and (max-width: 800px)
							font-size: 0.8em
						&:hover
							background: $navy
							@media only screen and (max-width: 40.0625em)
								background: $red_violet
						@media only screen and (max-width: 40.0625em)
							background: #123B41
					.dropdown
						li 
							width: 100%
							&:last-child
								border-bottom: 3px solid $blue
							a
								font-size: 0.875em
								text-transform: none
								color: $navy
								line-height: 50px
								text-align: left
								background-color: white !important
								color: $navy !important
								@media only screen and (max-width: 40.0625em)
									font-size: 0.75em
								&:hover
									background: $red_violet !important
									color: white !important
.section			
	position: relative
	.bcg_color
		background-color: white
	.section_logo
		margin: 80px auto
		width: 150px
		@media only screen and (max-width: 40.0625em)
			margin: 20px auto
	.section_about_us
		padding: 30px 0 0 0
		@media only screen and (max-width: 40.0625em)
			padding: 10px 0 0 0
.inserts_buttons
	border-bottom: 1px solid $light_grey
	.active
		border-top: 3px solid $navy
		border-bottom: none
		border-left: 1px solid $light_grey
		border-right: 1px solid $light_grey
		&:after
			content: ''
			width: 100%
			height: 1px
			background-color: white
			position: absolute
			bottom: -1px
	.tab-title
		a, span
			background-color: white
			&:hover
				background-color: white
	ul
		li 
			width: 50%
			position: relative
			line-height: 1
			a, span
				text-transform: uppercase
				text-align: center
				color: $grey
				font-weight: bold
				outline: none
				padding: 0
				&:hover
					color: $main
			.button_arrow
				border: 1px solid $blue
				padding: 2px 5px
				position: absolute
				right: 5px
				top: 10px
				line-height: 20px
				font-size: 1.5em
				font-weight: bold
				a 
					color: $blue
.inserts
	.insert_content
		padding-bottom: 10px
		margin-bottom: 30px
		.photo
			height: 170px
			background-size: cover
			background-position: center
		p 
			font-weight: bold
			color: $main
			margin-top: 10px
			line-height: 21px
		.insert_icons
			width: 17px
		span
			color: $medium_grey
			font-style: italic
			font-size: 0.875em
			padding-left: 10px
		a
			&:hover
				p 	
					color: $red_violet
.certificates_slider
	padding: 30px 15px 0
.footer
	background-color: $light_grey
	padding: 20px 10px
	img
		width: 60px
		float: left
		position: relative
		top: -10px
		padding-right: 10px
	.footer_nav
		padding-bottom: 20px
		.inline-list
			padding-top: 10px
			margin: 0
			li
				margin: 0
				padding: 0 5px
				border-right: 2px solid $grey
				height: 16px
				&:last-child
					border: none
			a
				text-transform: uppercase
				font-weight: 500
				color: $navy
				font-size: 1em
				line-height: 1em
				&:hover
					color: $red_violet
.breadcrumbs
	overflow: visible
	border: none
	background-color: $light_grey
	line-height: 40px
	padding: 0
	li
		text-transform: none
		font-size: 1em
		line-height: 40px
		a
			font-size: 0.875em
			color: grey
			img
				position: relative
				top: -2px
.fancybox-lock
	body
		overflow: visible !important